<div class="mainContainer">
  <div class="overflowContainer">
    <form [formGroup]="orderForm" >
      <div *ngIf="!show" >
        <h2 class="title">Add the items to deliver</h2>
        <div class="formRow" *ngFor="let item of itemsArray.controls; let i = index; let last=last; let first=first" [@inOutAnimation]>
          <app-checkbox class="checkbox" [style.visibility]="last ? 'hidden' : 'visible'" (change)="checkRow($event, i)" [checked]="checkedRowsItems[i]"></app-checkbox>
          <div formArrayName="items">
            <div class="formGroup" [formGroupName]="i" [ngClass]="checkedRowsItems[i] ? 'checked' : 'unchecked'">
              <input [required]="requiredConditions(itemsArray, first, last, i)" type="text" formControlName="id" placeholder="Item ID" (input)="addController(i, last, $event)">
              <input [required]="requiredConditions(itemsArray, first, last, i)" type="number" formControlName="x" placeholder="x" (input)="addController(i, last, $event)">
              <input [required]="requiredConditions(itemsArray, first, last, i)" type="number" formControlName="y" placeholder="y" (input)="addController(i, last, $event)">
            </div>
          </div>
        </div>
      </div>
        
      <div *ngIf="show" >
        <h2 class="title">Enter the drivers' info</h2>
        <div class="formRow" *ngFor="let item of driversArray.controls; let i = index; let last=last;let first=first" [@inOutAnimation]>
          <app-checkbox class="checkbox" [style.visibility]="last ? 'hidden' : 'visible'" (change)="checkRow($event, i)" [checked]="checkedRowsDrivers[i]"></app-checkbox>
          <div formArrayName="drivers">
            <div class="formGroup" [formGroupName]="i" [ngClass]="checkedRowsDrivers[i] ? 'checked' : 'unchecked'">
              <input [required]="requiredConditions(driversArray, first, last, i)" type="text" formControlName="id" placeholder="Driver UID" (input)="addController(i, last, $event)">
              <input [required]="requiredConditions(driversArray, first, last, i)" type="number" formControlName="x" placeholder="x" (input)="addController(i, last, $event)">
              <input [required]="requiredConditions(driversArray, first, last, i)" type="number" formControlName="y" placeholder="y" (input)="addController(i, last, $event)">
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <div class="buttonContainer">
      <app-arrow-button [body]="'next'" [backwards]="false" [disabled]="itemsButtonCondition()" *ngIf="!show" (click)='show=true'></app-arrow-button>
      <app-arrow-button [body]="'prev'" [backwards]="true" [disabled]="driversButtonCondition()" *ngIf="show" (click)='show=false'></app-arrow-button>
      <app-validate-button [body]="'submit'" [disabled]="driversButtonCondition()" *ngIf="show" (click)="onSubmit()"></app-validate-button>
    </div>
  </div>
  
</div>