.mainContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formRow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

.title{
    text-align: center;
    margin: 10vh;
}

/* fixes bug with flexbox overflow */
.overflowContainer{
    min-height: 0;
}

.formGroup > input{
    margin: .5vh 1vh;
    outline: none;
    box-sizing: border-box;
    border-radius: 15px;
    padding: .5em 1em;
    font-size: medium;
    outline: none;
    transition: 0.3s ease-in-out;
}

.checkbox{
    margin: 0 2vh;
}

/* styles for valid and invalid inputs */

.formGroup.unchecked > input{
    border: 1px solid rgba(117, 115, 115, 0.418);
}

.formGroup.checked > input{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.formGroup.checked > .ng-valid[required], .formGroup.checked > .ng-valid.required  {
    border: 2px solid #42A948;
  }
  
.formGroup.checked.ng-dirty.ng-invalid > input.ng-invalid {
    border: 2px solid #a94442;
}

.formGroup.checked.ng-untouched > input.ng-untouched, .formGroup.checked.ng-touched.ng-valid > input {
    border: 2px solid #ffffff;
}

.formGroup.checked > input.ng-untouched:focus, .formGroup.checked > input.ng-dirty:focus, .formGroup.checked > input.ng-touched:focus {
    border-color : rgba(81, 203, 238, 1);
}

/* buttons style */

.buttonContainer{
    display: flex;
    transition: .3s ease-in-out;
    align-items: center;
    justify-content: center;
    margin: 10vh;
}

.buttonContainer > * {
    margin: 0 .5em;
}