:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.title{
    text-align: center;
}

.ripple {
    position: relative;
    width: 22vw;
    height: 22vw;
}

.ripple div {
    position: absolute;
    border: 1vw solid rgba(81, 203, 238, 1);
    opacity: 1;
    border-radius: 50%;
    animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes ripple {
    0% {
        top: 10vw;
        left: 10vw;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 20vw;
        height: 20vw;
        opacity: 0;
    }
}
  