
.slideContainer{
    width: 100%;
    justify-content: space-between;
    padding: 1vh 0;
}

.slideContainer > label{
    padding: 0 1vw;
    text-align: center;
    width: fit-content;
}

.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:  rgb(36, 199, 199);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:  rgb(36, 199, 199);
    cursor: pointer;
}

/* small fix for mobile */
@media only screen and (max-width: 700px) {
    label{
        display: none;
    }
}