<div class="slideContainer centerRow">
    <input class="slider" type="range" min="1" max="100" value="50" class="slider" id="slider" (input)="input.emit($event)">
    <label for="slider">{{body}}</label>
</div>