button{
    font-size: 2vh;
    margin: 0 .5em;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.4);
    padding: .3em .8em;
    display: flex;
    justify-content: center;
    transition: .2s ease-in-out;
    outline: none;
}

button:hover{
    box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.4);
}

button:active{
    box-shadow: none;
    font-size: 2vh;
}

.submit{
    background-color: white;
    border: 2px solid rgb(36, 199, 63);
    color: rgb(36, 199, 63);
}

.submit:hover{
    background-color: rgb(36, 199, 63);
    color: white;
}