.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.title{
    margin-bottom: 10vh;
    transition: .2s ease-in;
    font-size: 4vh;
    font-weight: 600;
    opacity: 1;
}

.title.disappear{
    opacity: 0;
}

.title > span{
    color: rgb(36, 199, 199);
    transition: 3s ease-in;
}

.circle{
    border: 2px solid #bbb;
    border-radius: 50%;
    transition: .2s ease-in;
}

.container{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 40vh;
}

.circle:hover{
    border-color: rgb(36, 199, 199);
    cursor: pointer;
    border-width: 6px;
}

.body{
    text-align: center;
    font-size: 5vh;
}

.expand{
    border-color: rgb(36, 199, 199);
    width: 80vh;
    height: 80vh;
    opacity: 0;
}