<div class="mainContainer">
    <div class='title' [class.disappear]='isActive'>Livre<span>x</span></div>
    <div class='circle container' [class.expand]='isActive' (click)='onClick()'>
        <div class='container' >
            <p class='body'>Start a new course</p>
        </div>
    </div>    
</div>
