.container{
    position: relative;
    height: 6vh;
    width: 100vw;
    margin: 0;
    padding: 2vh 0;
    box-shadow: 0px -7px 28px 11px rgba(0,0,0,0.28);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    flex-grow: 2;
}

.button{
    margin: 0 2em;
}

.graph{
    flex: 1 1 auto; /* flex grow for the graph */
}