<div class="container">
    <app-arrow-button class="button" [body]="'back'" [backwards]="true" routerLink="/form"></app-arrow-button>
    <h2 class="title">Whole travel path overview</h2>
</div>
<app-complex-graph [forTomorrow]="forTomorrow" [paths]="paths" class="graph"></app-complex-graph>
    
