.simpleButton{
    border: .1em solid rgba(0, 0, 0, 0.1);
    font-size: 2vh;
    background-color: white;
    cursor: pointer;
    border-radius: 30%;
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.4);
    padding: .3em .8em;
    display: flex;
    justify-content: center;
    transition: .2s ease-in-out;
    outline: none;
}

.simpleButton:hover{
    box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.3);
}

.simpleButton:active{
    box-shadow: none;
}