.colorGen{
    background-image: linear-gradient(red,orange,yellow);
    background-size: 30vh 30vh;
    box-shadow: 0px -1px 20px 2px rgba(0, 0, 0, 0.4);
    outline: none;

    border-radius: 6vh;
    transition: .3s ease-in-out;
    border: none;

    background-position-x: 0;
    background-position-y: 0;

    width: 4vh;
    height: 4vh;

    animation: linearMotion 10s ease-in-out infinite forwards;
}

/* simple back and forth animation */
@keyframes linearMotion {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }
    
    50% {
        background-position-x: 100%;
        background-position-y: 100%;
    }
    
    100% {
        background-position-x: 0;
        background-position-y: 0;
    }
}


.colorGen:hover{
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    box-shadow: 0px -1px 20px 3px rgba(0, 0, 0, 0.4);
}

.colorGen:active{
    box-shadow: none;
}