<div class="containerSpace centerBox">
    <div class="plane centerBox" cdkDrag [cdkDragFreeDragPosition]="graphPosition">
        <div class="container centerBox" [style.height]="graphSize + 'vh'" [style.width]="graphSize + 'vh'">
            
            <svg [style.height]="graphSize + 'vh'" [style.width]="graphSize + 'vh'">
                <g *ngFor="let path of paths; let i=index" [ngClass]="{'removeLine': !showDriver[i]}">
                    <line [class.line]="true" [style.stroke]="colorArray[i]" [style.stroke-width]="strokeWidth + '%'"
                    *ngFor="let edge of path.distance.edges; let j=index" [style.animation-delay]="0.5 + j + 's'"
                    [attr.x1]="convertXCoordinateLine(path.path[j].x) + '%'" [attr.y1]="convertYCoordinateLine(path.path[j].y) + '%'"
                    [attr.x2]="convertXCoordinateLine(path.path[j+1].x) + '%'" [attr.y2]="convertYCoordinateLine(path.path[j+1].y) + '%'" 
                    stroke="black"/>
                </g>
            </svg>
            
            <ng-container *ngFor="let path of paths; let i=index">
                <ng-container *ngFor="let point of path.path; let j=index; let first=first; let last=last">
                    <div class="pointContainer"
                    [ngClass]="{'remove': !showDriver[i]}"
                    [style.left]="convertXCoordinatePoint(point.x) + '%'" [style.top]="convertYCoordinatePoint(point.y) + '%'">
                        <div class="point"
                        [style.height]="circleRadius + '%'" [style.width]="circleRadius + '%'" [style.background-color]="first ? 'rgb(36, 199, 199)' : getShadeOfColor(colorArray[i], -120)"
                        [ngClass]="{'done': checkpointsArray[i][j]===1, 'next': checkpointsArray[i][j]===2, 'todo': checkpointsArray[i][j]===0}"
                        >
                            <div class="identifier" [ngClass]="{'showIdentifier': showItemsID[i]}">
                                {{point.id}}
                            </div>
                            <div *ngIf="!first" class="coordinates" [ngClass]="{'showCoordinates': showItemsCoordinates[i]}">
                                (x: {{point.x}}, y: {{point.y}})
                            </div>
                        </div>
                    </div>
                    <div class="pathLength" *ngIf="!last"
                    [ngClass]="{'remove': !showDriver[i] && showPathLength[i], 'show': showPathLength[i]}"
                    [style.left]="calculateXMiddleCoordinate(path.path[j].x, path.path[j+1].x) + '%'" 
                    [style.top]="calculateYMiddleCoordinate(path.path[j].y, path.path[j+1].y) + '%'"
                    [style.background-color]="getShadeOfColor(colorArray[i], 120)">
                        {{roundNumber(path.distance.edges[j]) + " km"}}
                    </div>
                </ng-container>
            </ng-container>
            
        </div>
    </div>
    
</div>

<app-color-button class="colorButton" [colorArray]="colorArray" (click)="generateColors()"></app-color-button>

<div class="options" [style.bottom]="checkOptionsHeightHidden() ? 0 : optionsHeight + 'vh'">
    <div class="slidescontainer" [style.visibility]="checkOptionsHeightExpanded() ? 'hidden' : 'visible'" [style.opacity]="checkOptionsHeightExpanded() ? 0 : 1">
        <app-slider [body]="'Circle radius'" (input)="adjustCircleRadius($event)"></app-slider>
        <app-slider [body]="'Stroke width'" (input)="adjustStrokeWidth($event)"></app-slider>
    </div>
    <div class="zoom" [style.visibility]="checkOptionsHeightExpanded() ? 'hidden' : 'visible'" [style.opacity]="checkOptionsHeightExpanded() ? 0 : 1">
        <app-simple-button [body]="'+'" (click)="increaseZoom()"></app-simple-button>
        <app-simple-button [body]="'-'" (click)="decreaseZoom()"></app-simple-button>
        <app-simple-button [body]="'reset'" (click)="resetGraph()"></app-simple-button>
    </div>
    <div class="arrowsContainer">
        <i class="arrow up" (click)="increaseOptions()"></i>
        <i class="arrow down" (click)="decreaseOptions()"></i>
    </div>
</div>


<div class="infoBox centerBox" [style.height]="optionsHeight + 'vh'">
    <div class="overflowContainer">
        <table class="drivers">
            <tr>
                <th></th>
                <th>driver ID</th>
                <th>items to deliver</th>
                <th>total distance</th>
                <th>km details</th>
                <th>items ID</th>
                <th>items Coordinates</th>
            </tr>
            <tr *ngFor="let pathInfo of paths; let i=index" class="driverLine" (mouseenter)="highlightDriver(i)" (mouseleave)="removeHighlightDriver()">
                <td>
                    <app-checkbox [checked]="true" [colorType]="colors.ACCENT" (onClick)="selectDriver(i)"></app-checkbox>
                </td>
                <td>
                    <label for="driver">{{pathInfo.path[pathInfo.path.length-1].id}}</label>
                </td>
                <td class="pathInfo">
                    <ng-container *ngFor="let travelPoint of pathInfo.path | slice:1:-1; let last=last">
                        <ng-container *ngIf="!last; else lastEl">
                            {{travelPoint.id + ", "}}
                        </ng-container>
                        
                        <ng-template #lastEl>
                            {{travelPoint.id}}
                        </ng-template>
                    </ng-container>                
                </td>
                <td>
                    {{roundNumber(pathInfo.distance.sum) + " km"}}
                </td>
                <td>
                    <app-checkbox (onClick)="showDetails(i)"></app-checkbox>
                </td>
                <td>
                    <app-checkbox (onClick)="showID(i)"></app-checkbox>
                </td>
                <td>
                    <app-checkbox (onClick)="showCoordinates(i)"></app-checkbox>
                </td>
            </tr>
        </table>
        <div class="forTomorrow" *ngIf="forTomorrow.length !== 0">
            Items left to deliver another time (240km limit for each driver) :{{" "}}
            <span *ngFor="let item of forTomorrow; let last=last">
                <ng-container *ngIf="!last; else lastEl">
                    {{item.id + ", "}}
                </ng-container>
                
                <ng-template #lastEl>
                    {{item.id}}
                </ng-template>
            </span>
        </div>
    </div>
</div>