/* containers style */
:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerSpace{
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}

.centerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.centerRow{
    display: flex;
    align-items: center;
}

.plane{
    position: absolute;
    cursor: grab;
    width: 200vw;
    height: 200vw;
}

.container{
    z-index: 0;
    position: relative;
}

/* graph elements styling */

.pointContainer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 10%;
    width: 10%;
    transition: 0.3s ease-in;
    pointer-events: none;
}


.identifier{
    position: absolute;
    width: fit-content;
    font-size: larger;
    opacity: 0;
    transition: 0.3s ease-in;
    pointer-events: none;
    z-index: 99;
}

.coordinates{
    position: absolute;
    font-size: small;
    width: max-content;
    opacity: 0;
    transition: 0.3s ease-in;
    pointer-events: none;
    z-index: 99;  
}

.showCoordinates, .point:hover > .coordinates{
    margin-top: 100%;
    opacity: 1;
}

.pathLength{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
    padding: .3rem;
    background-color: white;
    position: absolute;
    opacity: 0;
    z-index: 99;
    transition: 0.3s ease-in;
    pointer-events: none;
}

.show{
    margin-top: 1rem;
    opacity: 1;
}

.point{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #bbb;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transition: 0.1s;
    pointer-events: all;
    opacity: 0.9;
}

.point.done{
    background-color: rgb(36, 199, 199);
}

.point.next{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
    background-color: blue;
    animation: pulse 3s linear infinite ;
}


.point.done > .identifier, .point.next > .identifier, .point.todo:hover .identifier, .showIdentifier{
    margin-top: -2em;
    opacity: 1;
}

.point.todo:hover{
    opacity: 1;
    background-color: black;
    cursor: pointer;
}

.line{
    padding: 2rem;
    stroke: black;
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
    transition: 0.1s;
    animation: dash 1s linear forwards;
    fill: #bbb;
    pointer-events: all;
}

/* animation to trace the lines */
@keyframes dash {
    0%{
        stroke-dashoffset: 500;
    }
    99%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dasharray: 500 0;
    }
}

/* (unused for now) pulse animation for points */
@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* removed graph elements styling */

.remove{
    opacity: 0.1;
}

.remove > .point{
    pointer-events: none;
}

.removeLine{
    stroke-opacity: 0.1;
    pointer-events: none;
}

/* graph options and pull up/down */

:host{
    position: relative;
}

.colorButton{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
}

.options{
    position: fixed;
    bottom: 30vh;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .3s ease-in-out;
}

.slidescontainer{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .3s ease-in-out;
}

.zoom{
    display: flex;
    transition: .3s ease-in-out;
}

.zoom > *{
    margin: 0 .5em;
}

/* pull up/down arrows for the infobox */

.arrowsContainer{
    box-shadow: 0px -12px 10px 2px rgba(0,0,0,0.37);
    border-radius: 20px 20px 0 0;
    background-color: white;
    padding: 2vh;
    height: 6vh;
    display: flex;
    flex-direction: column;
}

.arrow {
    border: solid black;
    border-width: 0 .7vh .7vh 0;
    display: inline-block;
    padding: .7vh;
    margin-top: .7vh;
}

.arrow:hover{
    border-color: rgb(36, 199, 199);
    cursor: pointer;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* style for the infobox (graph's information) */

/* fixes a bug with flexbox overflow */
.overflowContainer{
    min-height: 0;
}

.infoBox{
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0px 15px 28px 11px rgba(0,0,0,0.35);
    padding: 0 10vw;
    width: 80vw;
    height: 30vh;
    overflow: auto;
    transition: .3s ease-in-out;
}

.infoBox > .drivers{
    margin-bottom: 2em;
}

.drivers{
    border-collapse: separate;
    border-spacing: 0;
    margin: 5vh 0;
}

.drivers > tr{
    height: 3em;
    border-radius: 15px;
}

.drivers td{
    padding: 1vw 3vw;
    vertical-align: middle;
}

.driverLine{
    transition: .2s ease-in;
}

.driverLine:hover{
    box-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.forTomorrow{
    margin-bottom: 5vh;
}

.forTomorrow > span{
    font-weight: 600;
}

/* small mobile adjustments */

@media only screen and (max-width: 700px) {
    .infoBox{
        font-size: 3vw;
    }
}