.checkContainer{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=checkbox] {
    width: 3vh;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 3vh;
    border: .1vh solid rgba(0, 0, 0, 0.4);
    transition: .3s ease-in-out;
    cursor: pointer;
    outline: none;
    border-radius: .5vh;
}

input[type=checkbox]:checked.check {
    border: none;
}

input[type=checkbox]:hover{
    background-color:rgb(233, 233, 233);
}

input[type=checkbox]:checked:after{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 35%;
    margin-top: 10%;
    width: .75vh;
    height: 2vh;
    border: solid white;
    border-width: 0 .5vh .5vh 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    display: inline-block;
}