.container{
    margin: 10% 0;
    position: relative;
    width: 50vw;
    height: 50vw;
}

.identifier{
    width: fit-content;
    opacity: 0;
    transition: 0.3s;
}

.point{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 10%;
    width: 10%;
    background-color: #bbb;
    border-radius: 50%;
    transition: 0.3s;
}

.point.done{
    background-color: rgb(36, 199, 199);
}

.point.next{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
    background-color: blue;
    animation: pulse 3s linear infinite ;
}

.point.done > .identifier, .point.next > .identifier, .point.todo:hover > .identifier{
    margin-top: -100%;
    opacity: 1;
}

.point.todo:hover{
    background-color: black;
    cursor: pointer;
}

.line{
    stroke: none;
    stroke-dasharray: 500;
    animation: dash 1s linear reverse forwards;
}

@keyframes dash {
    from{
        stroke-dashoffset: 0;
        stroke: black;
    }
    to {
      stroke-dashoffset: 500;
      stroke: black;
    }
}


@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/*  continuous path

.line{
    stroke-dasharray: 20;
    animation: dash 5s linear infinite;
    animation-direction: reverse;
}

@keyframes dash {
    from{
        stroke-dashoffset: 20;
    }

    to {
      stroke-dashoffset: 500;
    }
} */