<div class="container">
    <div *ngFor="let point of path.path; let i=index" class="point" [ngClass]="{'done': checkpoints[i]===1, 'next': checkpoints[i]===2, 'todo': checkpoints[i]===0}"
    [style.left]="point.x*90/(xMax) + '%'" [style.top]="point.y*90/(yMax) + '%'">
        <div class="identifier">
            {{point.id}}
        </div>
    </div>
    <svg width="50vw" height="50vw">
        <line class="line" *ngFor="let edge of path.distance.edges; let i=index" [style.animation-delay]="i + 's'"
         [attr.x1]="path.path[i].x*90/(xMax) + 5 + '%'" [attr.y1]="path.path[i].y*90/(yMax) + 5 + '%'"
        [attr.x2]="path.path[i+1].x*90/(xMax) + 5 + '%'" [attr.y2]="path.path[i+1].y*90/(yMax) + 5 + '%'" 
        stroke="black"/>
    </svg>
</div>
