button{
    font-size: 2vh;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.4);
    padding: .3em .8em;
    display: flex;
    justify-content: center;
    transition: .2s ease-in-out;
    outline: none;
}

button:hover{
    box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.4);
}

button:active{
    box-shadow: none;
}

/* little arrow animation on hover */

.arrow {
    border: 2px solid rgba(81, 203, 238, 1);
    background-color: white;
    position: relative;
  }

.arrow:before,
.arrow:after {
    content: " ";
    position: absolute;
    border-top: 1.4vh solid transparent;
    border-bottom: 1.4vh solid transparent;
    transition: .3s ease-in-out;
    border-left: white;
    }

.arrow:hover{
    background-color:  rgba(81, 203, 238, 1);
    color: white;
}

.arrow.next:hover, .arrow.prev:hover{
    margin: 0 1.4vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

.arrow.next:hover:before {
    left: 100%;
    border-left: 1.4vh solid rgba(81, 203, 238, 1);
}

.arrow.prev:hover:before {
    right: 100%;
    border-right: 1.4vh solid rgba(81, 203, 238, 1);
}