/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: nunito;
    src: url(assets/Nunito/Nunito-Light.ttf) format("truetype");
}

*{
    font-family: 'nunito';
}

html, body {
    margin: 0;
    padding: 0;
}